extend layout 

block content
    .owl-carousel.counter-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag
        .owl-stage-outer
            .owl-stage(style='transform: translate3d(1061px, 0px, 0px); transition: all 2s ease 0s; width: 3396px;')
                .owl-item.cloned(style='width: 182.2px; margin-left: 30px;')
                    .item
                        .card.border-0.zoom-in.bg-light-warning.shadow-none
                            .card-body
                                .text-center
                                    img.mb-3(src='https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/svgs/icon-briefcase.svg' width='50' height='50' alt='')
                                    p.fw-semibold.fs-3.text-warning.mb-1 Clients
                                    h5.fw-semibold.text-warning.mb-0 3,650
                .owl-item.cloned(style='width: 182.2px; margin-left: 30px;')
                    .item
                        .card.border-0.zoom-in.bg-light-info.shadow-none
                            .card-body
                                .text-center
                                    img.mb-3(src='https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/svgs/icon-mailbox.svg' width='50' height='50' alt='')
                                    p.fw-semibold.fs-3.text-info.mb-1 Projects
                                    h5.fw-semibold.text-info.mb-0 356
                .owl-item.cloned(style='width: 182.2px; margin-left: 30px;')
                    .item
                        .card.border-0.zoom-in.bg-light-danger.shadow-none
                            .card-body
                                .text-center
                                    img.mb-3(src='https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/svgs/icon-favorites.svg' width='50' height='50' alt='')
                                    p.fw-semibold.fs-3.text-danger.mb-1 Events
                                    h5.fw-semibold.text-danger.mb-0 696
                .owl-item.cloned(style='width: 182.2px; margin-left: 30px;')
                    .item
                        .card.border-0.zoom-in.bg-light-success.shadow-none
                            .card-body
                                .text-center
                                    img.mb-3(src='https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/svgs/icon-speech-bubble.svg' width='50' height='50' alt='')
                                    p.fw-semibold.fs-3.text-success.mb-1 Payroll
                                    h5.fw-semibold.text-success.mb-0 $96k
                .owl-item.cloned(style='width: 182.2px; margin-left: 30px;')
                    .item
                        .card.border-0.zoom-in.bg-light-info.shadow-none
                            .card-body
                                .text-center
                                    img.mb-3(src='https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/svgs/icon-connect.svg' width='50' height='50' alt='')
                                    p.fw-semibold.fs-3.text-info.mb-1 Reports
                                    h5.fw-semibold.text-info.mb-0 59
                .owl-item.active(style='width: 182.2px; margin-left: 30px;')
                    .item
                        .card.border-0.zoom-in.bg-light-primary.shadow-none
                            .card-body
                                .text-center
                                    img.mb-3(src='https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/svgs/icon-user-male.svg' width='50' height='50' alt='')
                                    p.fw-semibold.fs-3.text-primary.mb-1  Employees 
                                    h5.fw-semibold.text-primary.mb-0 96
                        .owl-nav.disabled
            button.owl-prev(type='button' role='presentation')
                span(aria-label='Previous') &lsaquo;
            button.owl-next(type='button' role='presentation')
                span(aria-label='Next') &rsaquo;
        .owl-dots
            button.owl-dot.active(role='button')
                span
            button.owl-dot(role='button')
                span

block scriptBlock 
    script(src='/js/owl.carousel.min.js')
    //- script(src='/js/dashboard.js')
