doctype html
head
    meta(charset='utf-8')
    meta(name='author' content='Softnio')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    link(rel='shortcut icon' href='images/favicon.png')
    title
        | Cyanus | ICO Crypto - ICO Landing Page &amp; Multi-Purpose Cryptocurrency HTML Template
    link(rel='stylesheet' href='/css/vendor.bundle.css?ver=210')
    link#changeTheme(rel='stylesheet' href='/css/style-salvia.css?ver=210')
    link(rel='stylesheet' href='/css/theme.css')
    .nk-wrap
    header#header.nk-header.page-header.is-transparent.is-sticky.is-shrink.is-split
        .header-main
            .container.container-xxl
                .header-wrap
                    .header-logo.logo.animated(data-animate='fadeInDown' data-delay='.65')
                        a.logo-link(href='./')
                            img.logo-dark(src='/images/logo.png' srcset='/images/logo2x.png 2x' alt='logo')
                            img.logo-light(src='/images/logo-full-white.png' srcset='/images/logo-full-white2x.png 2x' alt='logo')
                    .header-nav-toggle
                        a.navbar-toggle(href='#' data-menu-toggle='header-menu')
                            .toggle-line
                                span
                    .header-navbar.header-navbar-s2.flex-grow-1.animated(data-animate='fadeInDown' data-delay='.75')
                        nav#header-menu.header-menu.header-menu-s2
                            ul.menu.mx-auto
                                li.menu-item.has-sub
                                    a.menu-link.nav-link.menu-toggle(href='#') Home
                                    .menu-sub.menu-drop.menu-mega.menu-mega-3clmn
                                        .menu-mega-innr
                                            ul.menu-mega-list
                                                li.menu-item
                                                    a(href='index-azalea.html')
                                                        | Azalea Dark
                                                        span.badge.badge-xs.badge-light v1.6
                                                li.menu-item
                                                    a(href='index-azalea-multi.html')
                                                        | Azalea Multi
                                                        span.badge.badge-xs.badge-light v1.6
                                                li.menu-item
                                                    a(href='index-gentian.html')
                                                        | Gentian Dark
                                                        span.badge.badge-xs.badge-light v1.5
                                                li.menu-item
                                                    a(href='index-gentian-pro.html')
                                                        | Gentian Pro
                                                        span.badge.badge-xs.badge-light v1.5
                                                li.menu-item
                                                    a(href='index-gentian-multi.html')
                                                        | Gentian Multi
                                                        span.badge.badge-xs.badge-light v1.5
                                                li.menu-item
                                                    a(href='index-zinnia.html') Zinnia Pro
                                                li.menu-item
                                                    a(href='index-salvia.html') Salvia Pro
                                                li.menu-item
                                                    a(href='index-lungwort.html') Lungwort Dark
                                            ul.menu-mega-list
                                                li.menu-item
                                                    a(href='index-jasmine.html') Jasmine Light
                                                li.menu-item
                                                    a(href='index-lobelia.html') Lobalia Dark
                                                li.menu-item
                                                    a(href='index-muscari.html') Muscari Pro
                                                li.menu-item
                                                    a(href='index-lavender.html') Lavender Pro
                                                li.menu-item
                                                    a(href='index-azure-pro.html') Azure Pro
                                                li.menu-item
                                                    a(href='index-azure.html') Azure Dark
                                                li.menu-item
                                                    a(href='index-dark-pro.html') Default Dark Pro
                                                li.menu-item
                                                    a(href='index-light.html') Default Light
                                            ul.menu-mega-list
                                                li.menu-item
                                                    a(href='index-dark.html') Default Dark
                                                li.menu-item
                                                    a(href='index-linum-wallet.html')
                                                        | Linum Wallet
                                                        span.badge.badge-xs.badge-light v1.8
                                                li.menu-item
                                                    a(href='index-flax-wallet.html')
                                                        | Flax Wallet
                                                        span.badge.badge-xs.badge-light v1.8
                                                li.menu-item
                                                    a(href='index-crocus-multi.html')
                                                        | Crocus Multi
                                                        span.badge.badge-xs.badge-light v1.9
                                                li.menu-item
                                                    a(href='index-cyanus-multi.html') Cyanus Multi
                                                li.menu-item
                                                    a(href='index-blockchain.html')
                                                        | Blockchain 
                                                        span.badge.badge-xs.badge-new new
                                                li.menu-item
                                                    a(href='index-nft-portfolio.html')
                                                        | NFT Portfolio 
                                                        span.badge.badge-xs.badge-new new
                                li.menu-item.has-sub
                                    a.menu-link.nav-link.menu-toggle(href='#') Pages
                                    .menu-sub.menu-drop.menu-mega.menu-mega-2clmn
                                        .menu-mega-innr
                                            ul.menu-mega-list
                                                li.menu-item
                                                    a.menu-link.nav-link(href='page-about.html') About Us - Base
                                                li.menu-item
                                                    a.menu-link.nav-link(href='page-about-v2.html') About Us - Linum
                                                li.menu-item
                                                    a.menu-link.nav-link(href='page-about-v3.html')
                                                        | About Us - Cyanus
                                                        span.badge.badge-dot
                                                li.menu-item
                                                    a.menu-link.nav-link(href='page-team.html') Our Teams
                                                li.menu-item
                                                    a.menu-link.nav-link(href='page-wallets.html') Wallets -v1
                                                li.menu-item
                                                    a.menu-link.nav-link(href='page-wallets-v2.html') Wallets -v2
                                                li.menu-item
                                                    a.menu-link.nav-link(href='page-features.html') Features
                                                li.menu-item
                                                    a.menu-link.nav-link(href='page-token-sale.html') Token Sale
                                                li.menu-item
                                                    a.menu-link.nav-link(href='page-roadmap.html') Roadmap
                                            ul.menu-mega-list
                                                li.menu-item
                                                    a.menu-link.nav-link(href='page-download.html') Download
                                                li.menu-item
                                                    a.menu-link.nav-link(href='page-faq.html') FAQs
                                                li.menu-item
                                                    a.menu-link.nav-link(href='page-contact.html') Contact - Base
                                                li.menu-item
                                                    a.menu-link.nav-link(href='page-contact-v2.html')
                                                        | Contact - Cyanus
                                                        span.badge.badge-dot
                                                li.menu-item
                                                    a.menu-link.nav-link(href='page-exchange.html')
                                                        | Exchange - Cyanus
                                                        span.badge.badge-dot
                                                li.menu-item
                                                    a.menu-link.nav-link(href='page-partner.html')
                                                        | Partner - Cyanus
                                                        span.badge.badge-dot
                                                li.menu-item
                                                    a.menu-link.nav-link(href='page-mission.html')
                                                        | Mission - Cyanus
                                                        span.badge.badge-dot
                                                li.menu-item
                                                    a.menu-link.nav-link(href='page-career.html')
                                                        | Career - Cyanus
                                                        span.badge.badge-dot
                                li.menu-item.has-sub
                                    a.menu-link.nav-link.menu-toggle(href='#') Blog &amp; Misc
                                    ul.menu-sub.menu-drop
                                        li.menu-item.has-sub
                                            a.menu-link.nav-link.menu-toggle(href='#') Blog Pages
                                            ul.menu-sub.menu-drop
                                                li.menu-item
                                                    a.menu-link.nav-link(href='blog-3clmn.html') Blog 3 Column
                                                li.menu-item
                                                    a.menu-link.nav-link(href='blog-sidebar-left.html') Blog Sidebar - Left
                                                li.menu-item
                                                    a.menu-link.nav-link(href='blog-sidebar-right.html') Blog Sidebar - Right
                                                li.menu-item
                                                    a.menu-link.nav-link(href='blog-details.html') Blog Single - Sidebar
                                                li.menu-item
                                                    a.menu-link.nav-link(href='blog-details-full.html') Blog Single - Full Width
                                        li.menu-item.has-sub
                                            a.menu-link.nav-link.menu-toggle(href='#') Auth Pages
                                            ul.menu-sub.menu-drop
                                                li.menu-item
                                                    a.menu-link.nav-link(href='page-login.html') Login - v1
                                                li.menu-item
                                                    a.menu-link.nav-link(href='page-register.html') Register - v1
                                                li.menu-item
                                                    a.menu-link.nav-link(href='page-reset.html') Reset - v1
                                                li.menu-item
                                                    a.menu-link.nav-link(href='page-login-v2.html') Login - v2
                                                li.menu-item
                                                    a.menu-link.nav-link(href='page-register-v2.html') Register - v2
                                                li.menu-item
                                                    a.menu-link.nav-link(href='page-reset-v2.html') Reset - v2
                                        li.menu-item.has-sub
                                            a.menu-link.nav-link.menu-toggle(href='#') Coming Soon
                                            ul.menu-sub.menu-drop
                                                li.menu-item
                                                    a.menu-link.nav-link(href='coming-soon-azalea.html' target='_blank') Coming Soon - Azalea
                                                li.menu-item
                                                    a.menu-link.nav-link(href='coming-soon-gentian.html' target='_blank') Coming Soon - Gentian
                                                li.menu-item
                                                    a.menu-link.nav-link(href='coming-soon-gentian-alt.html' target='_blank') Coming Soon - Gentian Alt
                                                li.menu-item
                                                    a.menu-link.nav-link(href='coming-soon-dark.html' target='_blank') Coming Soon - Dark
                                                li.menu-item
                                                    a.menu-link.nav-link(href='coming-soon-light.html' target='_blank') Coming Soon - Light
                                        li.menu-item.has-sub
                                            a.menu-link.nav-link.menu-toggle(href='#') Error 404
                                            ul.menu-sub.menu-drop
                                                li.menu-item
                                                    a.menu-link.nav-link(href='error-404-gentian.html' target='_blank') 404 - Gentian
                                                li.menu-item
                                                    a.menu-link.nav-link(href='error-404-gentian-alt.html' target='_blank') 404 - Gentian Alt
                                                li.menu-item
                                                    a.menu-link.nav-link(href='error-404-azalea.html' target='_blank') 404 - Azalea
                                                li.menu-item
                                                    a.menu-link.nav-link(href='error-404-dark.html' target='_blank') 404 - Dark
                                                li.menu-item
                                                    a.menu-link.nav-link(href='error-404-light.html' target='_blank') 404 - Light
                                li.menu-item.has-sub
                                    a.menu-link.nav-link.menu-toggle(href='#') Elements
                                    .menu-sub.menu-drop.menu-mega.menu-mega-2clmn
                                        .menu-mega-innr
                                            ul.menu-mega-list
                                                li.menu-item
                                                    a(href='element-alert.html') Alert
                                                li.menu-item
                                                    a(href='element-button.html') Buttons
                                                li.menu-item
                                                    a(href='element-content.html') Contents
                                                li.menu-item
                                                    a(href='element-table.html') Tables
                                                li.menu-item
                                                    a(href='element-video.html') Videos
                                                li.menu-item
                                                    a(href='element-typography.html') Typography
                                                li.menu-item
                                                    a(href='element-progress-bar.html') Progress Bar
                                                li.menu-item
                                                    a(href='element-form.html') Form Elements
                                                li.menu-item
                                                    a(href='element-icon.html')
                                                        | Custom Icons
                                                        span.badge.badge-xs.badge-info v1.6.2
                                            ul.menu-mega-list
                                                li.menu-item
                                                    a(href='element-tab.html') Tabs
                                                li.menu-item
                                                    a(href='element-grid.html') Grids
                                                li.menu-item
                                                    a(href='element-color.html') Colors
                                                li.menu-item
                                                    a(href='element-modal.html') Modals
                                                li.menu-item
                                                    a(href='element-chart.html') Charts
                                                li.menu-item
                                                    a(href='element-notification.html') Notification
                                                li.menu-item
                                                    a(href='element-countdown.html') Countdown
                                                li.menu-item
                                                    a(href='element-accordion.html') Accordions
                                li.menu-item.has-sub
                                    a.menu-link.nav-link.menu-toggle(href='#') Blocks
                                    .menu-sub.menu-drop.menu-mega.menu-mega-2clmn
                                        .menu-mega-innr
                                            ul.menu-mega-list
                                                li.menu-item
                                                    a(href='block-navbar.html') Navbar
                                                li.menu-item
                                                    a(href='block-page-header.html') Page Header
                                                li.menu-item
                                                    a(href='block-footer.html') Footer
                                                li.menu-item
                                                    a(href='block-team.html') Team
                                                li.menu-item
                                                    a(href='block-banner.html')
                                                        | Banner 
                                                        span.badge.badge-xs.badge-hot Hot
                                                li.menu-item
                                                    a(href='block-faq.html') FAQs
                                                li.menu-item
                                                    a(href='block-subscribe.html') Subscribe
                                            ul.menu-mega-list
                                                li.menu-item
                                                    a(href='block-roadmap.html') Roadmaps
                                                li.menu-item
                                                    a(href='block-partner.html') Partners
                                                li.menu-item
                                                    a(href='block-token-info.html') Token Info
                                                li.menu-item
                                                    a(href='block-feature-card.html') Features Card
                                                li.menu-item
                                                    a(href='block-feature-panel.html') Features Panel
                                                li.menu-item
                                                    a(href='block-auth.html') Login / Register
                                                li.menu-item
                                                    a(href='block-contact.html') Contact
                            ul.menu-btns
                                li
                                    a.btn.btn-md.btn-auto.btn-secondary.btn-outline.no-change(href='page-register.html')
                                        span Sign Up
                                li
                                    a.btn.btn-md.btn-auto.btn-secondary.no-change.focus(href='page-login.html')
                                        span Login
        .header-banner.bg-theme-grad-s2
            .nk-banner
                .banner.banner-fs.banner-single.banner-s1
                    .banner-wrap.my-auto
                        .container.container-xxl
                            .row.align-items-center.justify-content-center.justify-content-lg-between.gutter-vr-60px
                                .col-lg-6.col-xl-5.text-center.text-lg-start
                                    .banner-caption.tc-light.animated(data-animate='fadeInUp' data-delay='1.25')
                                        .cpn-head.mt-0
                                            h1.title.title-lg-s2 Simple. Faster. Secure
                                        .cpn-text.cpn-text-s3.pb-2
                                            p.lead.lead-s3.pb-1 Distributing finance for everyone
                                            p
                                                | Buy Bitcoin and cryptocurrencies. Pay with Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        .cpn-btns
                                            ul.btn-grp
                                                li
                                                    a.btn.btn-lg.btn-secondary(href='#') White Paper
                                                li
                                                    a.btn.btn-lg.btn-primary.btn-outline(href='#') One Pager
                                .col-lg-6.col-xl-7.col-md-8.col-sm-9
                                    .banner-gfx.banner-gfx-s2.position-relative.animated(data-animate='fadeInUp' data-delay='1.35')
                                        img(src='images/app-screens/sc-mockup.png' alt='mockup')
                                        .has-flex-slider.gfx-screen.round(data-slide-speed='2500' data-slide-show='true' data-anim-loop='true' data-anim-speed='1500')
                                            ul.slides
                                                li.gfx-slide
                                                    .bg-image.round
                                                        img(src='images/app-screens/sc-slide-one.jpg' alt='slide img')
                                                li.gfx-slide
                                                    .bg-image.round
                                                        img(src='images/app-screens/sc-slide-two.jpg' alt='slide img')
                                                li.gfx-slide
                                                    .bg-image.round
                                                        img(src='images/app-screens/sc-slide-three.jpg' alt='slide img')
                    .banner-bottom.w-100.pb-5.animated(data-animate='fadeInUp' data-delay='1.45')
                        .container.container-xxl
                            .d-flex.justify-content-center.justify-content-md-between.align-items-center.flex-lg-nowrap.flex-wrap
                                ul.btn-grp.m-0
                                    li
                                        a.btn.btn-lg.btn-theme-dark(href='#')
                                            span.btn-img.pe-3
                                                img(src='images/wave.png' alt='wave')
                                            span.btn-text.ttc View Details Statistic
                                            em.ti.ti-arrow-right.ps-2
                                ul.social.pt-3.pt-md-0
                                    li
                                        a(href='#')
                                            em.social-icon.fab.fa-facebook-f
                                    li
                                        a(href='#')
                                            em.social-icon.fab.fa-twitter
                                    li
                                        a(href='#')
                                            em.social-icon.fab.fa-youtube
                                    li
                                        a(href='#')
                                            em.social-icon.fab.fa-github
                                    li
                                        a(href='#')
                                            em.social-icon.fab.fa-bitcoin
                                    li
                                        a(href='#')
                                            em.social-icon.fab.fa-medium-m
            .nk-ovm.shape-z6
                .nk-ovm-inner
    main.nk-pages
        .section.pb-0.animated(data-animate='fadeInUp' data-delay='.1')
            .container
                .nk-block
                    .row.justify-content-center
                        .col-lg-10.col-mb-10
                            .nk-block-text.text-center
                                h2.title.title-regular Buy popular digital currencies with ICO Crypto!
                                p
                                    | Buy through our currency partners and receive assets directly to your personal wallet.
                                ul.icon-currency-list.pt-4.pb-5
                                    li
                                        em.icon.icon-bg.icon-bg-lg.bg-theme-grad-s2.icon-md.ikon.ikon-ltc
                                    li
                                        em.icon.icon-bg.icon-bg-xl.bg-theme-grad-s2.icon-md.ikon.ikon-eth
                                    li
                                        em.icon.icon-bg.icon-bg-lg.bg-theme-grad-s2.icon-md.ikon.ikon-btc
                                a.btn.btn-secondary.btn-lg(href='#') purchase now
        section.section
            .container
                .nk-block.nk-block-text-wrap
                    .row.align-items-center.gutter-vr-30px.justify-content-lg-between.justify-content-center
                        .col-lg-5.col-mb-10
                            .nk-block-img.gfx-re-lgl.py-5.py-lg-0.animated(data-animate='fadeInUp' data-delay='0.1')
                                .gfx-round-bg.after
                                img(src='images/app-screens/sc-large-q.png' alt='app')
                        .col-lg-6.col-mb-10
                            .nk-block-text.animated(data-animate='fadeInUp' data-delay='0.2')
                                .pb-5
                                    h2.title.title-regular ICO Crypto Exchange
                                    p
                                        | The heart of ICO Crypto Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim
                                ul.list.list-check.list-check-s3.list-check-s3-sm
                                    li
                                        h4.title.title-md Designed for everyone
                                        p
                                            | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    li
                                        h4.title.title-md All the tools you want
                                        p
                                            | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    li
                                        h4.title.title-md Multiple asset classes
                                        p
                                            | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                ul.btn-grp.pt-4
                                    li
                                        a.btn.btn-lg.btn-secondary(href='#') try it out
                                    li
                                        a.btn.btn-lg.btn-primary.btn-outline(href='#') Explore features
        section.section.pt-0
            .container
                .nk-block.nk-block-text-wrap
                    .row.align-items-center.gutter-vr-30px.justify-content-lg-between.justify-content-center
                        .col-lg-5.col-mb-9.order-lg-last
                            .nk-block-img.gfx-re-lg.animated(data-animate='fadeInUp' data-delay='0.1')
                                .gfx-round-bg.after
                                img(src='images/app-screens/sc-large-q2.png' alt='app')
                        .col-lg-6.col-mb-10
                            .nk-block-text.animated(data-animate='fadeInUp' data-delay='0.2')
                                .pb-5
                                    h2.title.title-regular ICO Crypto Mobile Wallet
                                    p Mobile wallet meets trading app.
                                ul.list.list-check.list-check-s3.list-check-s3-sm
                                    li
                                        h4.title.title-md All-in-one
                                        p
                                            | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    li
                                        h4.title.title-md Scan. Convert. Pay.
                                        p
                                            | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    li
                                        h4.title.title-md Trade as you go
                                        p
                                            | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                ul.btn-grp.pt-4
                                    li
                                        a.btn.btn-lg.btn-secondary(href='#') Explore features
        section.section.pt-0.ov-v
            .container
                .nk-block.nk-block-text-wrap
                    .row.align-items-center.gutter-vr-30px.justify-content-lg-between.justify-content-center
                        .col-lg-5.col-mb-10
                            .nk-block-img.gfx-re-lgl.py-5.py-lg-0.animated(data-animate='fadeInUp' data-delay='0.1')
                                .gfx-round-bg
                                img(src='images/gfx/gfx-b.png' alt='app')
                        .col-lg-6.col-mb-10
                            .nk-block-text.animated(data-animate='fadeInUp' data-delay='0.2')
                                .pb-5
                                    h2.title.title-regular ICO Crypto Pay
                                    p
                                        | Make life easy for your customers. Embed our platform into your store for instant digital asset payments &ndash; with zero fees or cashbacks.
                                ul.list.list-check.list-check-s3.list-check-s3-sm
                                    li
                                        h4.title.title-md Automatic conversion
                                        p
                                            | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    li
                                        h4.title.title-md Simple to manage
                                        p
                                            | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    li
                                        h4.title.title-md Quick to set up
                                        p
                                            | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                ul.btn-grp.pt-4
                                    li
                                        a.btn.btn-lg.btn-secondary(href='#') Explore features
        section.section.pt-0
            .container
                .nk-block.nk-block-feature
                    .row.justify-content-center
                        .col-lg-8.col-mb-10
                            .section-head.text-center.animated(data-animate='fadeInUp' data-delay='0.1')
                                h2.title.title-regular Know more about ICO Crypto
                    .row.justify-content-center
                        .col-lg-6.col-mb-10
                            .feature.feature-inline.card.card-s3.flex-wrap.flex-sm-nowrap.animated(data-animate='fadeInUp' data-delay='0.2')
                                .feature-icon.feature-icon-lg-s3.mt-0
                                    img(src='images/icons/icon-t-alt.png' alt='icon')
                                .feature-text
                                    h5.title.title-md Compliance
                                    p We believe legal compliance is key to growing digital finance.
                                    a.btn.btn-secondary.btn-md(href='#')
                                        | learn more 
                                        em.ti.ti-arrow-right.ps-2
                        .col-lg-6.col-mb-10
                            .feature.feature-inline.card.card-s3.flex-wrap.flex-sm-nowrap.animated(data-animate='fadeInUp' data-delay='0.3')
                                .feature-icon.feature-icon-lg-s3.mt-0
                                    img(src='images/icons/icon-t2.png' alt='icon')
                                .feature-text
                                    h5.title.title-md Funds management
                                    p ICO Cryptosimplifies the lorem ipsum dolor sumit in repeherenderit.
                                    a.btn.btn-secondary.btn-md(href='#')
                                        | learn more 
                                        em.ti.ti-arrow-right.ps-2
        section.section.bg-light
            .container
                .nk-block.nk-block-feature
                    .section-head.text-center.animated(data-animate='fadeInUp' data-delay='0.1')
                        h2.title.title-regular Get started now
                        p
                            | Can&rsquo;t wait to try ICO Crypto? You don&rsquo;t have to! Getting started is a matter of minutes.
                    .row
                        .col-md-4
                            .feature.feature-center.animated(data-animate='fadeInUp' data-delay='0.2')
                                .feature-serial
                                    span 1
                                .feature-text.feature-text-wd
                                    h5.title.title-md Sign up
                                    p.mx-auto We&rsquo;ll guide you through the process.
                        .col-md-4
                            .feature.feature-center.animated(data-animate='fadeInUp' data-delay='0.3')
                                .feature-serial
                                    span 2
                                .feature-text.feature-text-wd
                                    h5.title.title-md Try your new wallet
                                    p.mx-auto Buy crypto through our partners or transfer in funds.
                        .col-md-4
                            .feature.feature-center.animated(data-animate='fadeInUp' data-delay='0.4')
                                .feature-serial
                                    span 3
                                .feature-text.feature-text-wd
                                    h5.title.title-md Explore the ecosystem
                                    p.mx-auto See how easy it is to trade, pay and invest with ICO Crypto!
                    .text-center.pt-3.animated(data-animate='fadeInUp' data-delay='0.5')
                        a.btn.btn-lg.btn-secondary(href='#') create an account
    footer.nk-footer.bg-theme.ov-h
        section.section.section-m.section-footer.tc-light.bg-transparent.ov-h
            .container
                .nk-block.block-footer.mgb-m30
                    .row.justify-content-between
                        .col-sm-3.mb-sm-0.col-6
                            .wgs.wgs-menu.animated(data-animate='fadeInUp' data-delay='0.1')
                                h6.wgs-title Help
                                .wgs-body
                                    ul.wgs-links
                                        li
                                            a(href='#') Community
                                        li
                                            a(href='#') Knowledge base
                                        li
                                            a(href='#') Contact
                                        li
                                            a(href='#') Security
                        .col-sm-3.mb-sm-0.col-6
                            .wgs.wgs-menu.animated(data-animate='fadeInUp' data-delay='0.2')
                                h6.wgs-title Company
                                .wgs-body
                                    ul.wgs-links
                                        li
                                            a(href='#') About
                                        li
                                            a(href='#') Compliance
                                        li
                                            a(href='#') Careers
                                        li
                                            a(href='#') Blog
                        .col-md-3.col-sm-4.mb-sm-0.col-6
                            .wgs.wgs-menu.animated(data-animate='fadeInUp' data-delay='0.3')
                                h6.wgs-title Products
                                .wgs-body
                                    ul.wgs-links
                                        li
                                            a(href='#') ICO Crypto Exchange
                                        li
                                            a(href='#') Funds Management
                                        li
                                            a(href='#') ICO Crypto Extension
                                        li
                                            a(href='#') ICO Crypto Mobile
                        .col-sm-2.mb-sm-0.col-6
                            .wgs.wgs-menu.animated(data-animate='fadeInUp' data-delay='0.4')
                                h6.wgs-title Follow
                                .wgs-body
                                    ul.wgs-links
                                        li
                                            a(href='#') Twitter
                                        li
                                            a(href='#') YouTube
                                        li
                                            a(href='#') Medium
                                        li
                                            a(href='#') LinkedIn
        .section.section-sm.pt-0.footer-bottom.animated(data-animate='fadeInUp' data-delay='0.5')
            .container
                .row.justify-content-md-between.align-items-center
                    .col-lg-6.col-md-3.col-sm-4
                        a.wgs-logo-s2.d-inline-block.mb-2.mb-md-0(href='./')
                            img(src='images/logo-full-white.png' srcset='images/logo-full-white2x.png 2x' alt='logo')
                    .col-lg-6.col-md-8
                        .copyright-text
                            ul.d-flex.justify-content-between.align-items-center.flex-wrap.flex-md-nowrap
                                li
                                    a(href='#') User Agreement
                                li
                                    a(href='#') Privacy Policy
                                li
                                    p &copy;2022 - ICO Crypto. All rights reserved
        .nk-ovm.shape-z7.ov-h
//- script(src='/js/jquery.bundle.js?ver=210')
//- script(src='/js/scripts.js?ver=210')
//- script(src='/js/charts.js?ver=210')
//- script(src='/js/charts.js?ver=210')
